!!!
%html
  %head
    %title mustachify.me
    = haml :ga
    :css
      img {
        border: none;
        margin-bottom: 15px;
      }
      .url-entry,
      .url-entry input {
        font-size: 25px;
        font-family: sans-serif;
        font-weight: bold;
      }
      .url-input {
        width: 8em;
      }
      footer {
        margin-top: 250px;
        text-align: center;
      }
      footer,
      footer a {
        color: grey;
      }
  %body
    %form.url-entry{ action: '', method: 'get' }
      #{@site}/#{@stache_num}?src=<input class="url-input" type="text" name="src" placeholder="IMAGE_URL"/>
      %input{ type: 'submit', value: 'Go' }
    = erb :footer
